body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

.card {
  background: white;
  padding: 16px;
  margin-top: 16px;
  border-radius: 8px;
}

button {
  margin: 5px;
  padding: 6px 10px;
}
